<ion-content [fullscreen]="true">
  <div class="card-section">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Login</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <ion-text color="medium">
          <p style="text-align: center;">Use your credentials to login</p>
        </ion-text>

        <ion-item>
          <ion-input label="Username" labelPlacement="floating" placeholder="Enter your username"
            [(ngModel)]="username">
          </ion-input>
        </ion-item>

        <ion-item>
          <ion-input type="password" label="Password" labelPlacement="floating" placeholder="Enter your password"
            [(ngModel)]="password">
            <ion-input-password-toggle slot="end"></ion-input-password-toggle>
          </ion-input>
        </ion-item>

        <ion-button expand="block" (click)="login()">Login</ion-button>
        <!-- Tambahkan di bawah tombol Login -->
        <ion-button expand="block" fill="clear" routerLink="/register">
          Create an account
        </ion-button>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
