<ion-content [fullscreen]="true">
  <div class="card-section">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Login</ion-card-title>
      <ion-card-subtitle>Enter your credentials</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>

      <ion-item>
        <ion-input label="Email" [(ngModel)]="email" labelPlacement="floating" placeholder="Enter Your Email"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input type="password" label="Password" [(ngModel)]="password" labelPlacement="floating" placeholder="Enter Your Password">
          <ion-input-password-toggle slot="end">
          </ion-input-password-toggle>
        </ion-input>
      </ion-item>

      <ion-button expand="block" (click)="login()">Login</ion-button>
      <ion-button expand="block" routerLink="/register" fill="clear">Create Account</ion-button>

    </ion-card-content>
  </ion-card>
  </div>
</ion-content>
