<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      List Film
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="light">
  <ion-list [inset]="true">
    <!-- Disney Classics -->
    <ion-item>
      <ion-label>Aladdin</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Frozen</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Tangled</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>The Lion King</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Beauty and the Beast</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Cinderella</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Moana</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Mulan</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Encanto</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Finding Nemo</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Toy Story</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Cars</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Inside Out</ion-label>
    </ion-item>

    <!-- Marvel -->
    <ion-item>
      <ion-label>Avengers: Endgame</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Iron Man</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Spider-Man: No Way Home</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Black Panther</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Doctor Strange</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Guardians of the Galaxy</ion-label>
    </ion-item>

    <!-- Random populer -->
    <ion-item>
      <ion-label>Forgotten</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Concrete Utopia</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Parasite</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Train to Busan</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
